@font-face {
  font-family: pokemon;
  src: url(pokefont.ttf);
}

.body {
  font-family: pokemon;
  display: block;
  height: auto;
  width: 800px;
  border-style: double;
  border-radius: 5px;
  margin: auto;
  background-image: url("pokeballBG.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.search-button {
  height: 20px;
  width: 20px;
  background-image: url("pokeball.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-style: hidden;
}

.display-sprite {
  display: block;
  height: auto;
  width: 100%;
  border-bottom: solid;
}

.image-holder {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.stats-container {
  display: block;
  height: auto;
  width: 100%;
  border-bottom: solid;
}

.abilities-container {
  display: block;
  height: auto;
  width: 100%;
}

.p {
  margin-left: 5%;
  margin-right: 5%;
}

.ptitle {
  font-size: large;
  margin-left: 2%;
}